* {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 0;
  margin: 0;
}
::-webkit-scrollbar {
  width: 9px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #b9b9b9;
  border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #999;
}
::selection {
  color: #ff8f9c;
  background: #787878;
}

html {
  scroll-behavior: smooth;
}
body {
  overflow-x: hidden;
  font-family: 'Poppins', sans-serif;
  position: relative;
}


.dropdown-menu {
  position: relative;

  &__button {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;

    &:hover {
      background-color: #555;
    }
  }

  &__content {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s ease-in-out;

    &.open {
      opacity: 1;
      pointer-events: auto;
    }

    &__list {
      list-style: none;
      margin: 0;
      padding: 10px;

      &__item {
        padding: 5px 0;

        &:hover {
          color: #333;
          background-color: #f0f0f0;
        }
      }
    }
  }
}
