.product-card {
  // width: fit-content;
  max-width: fit-content !important;
  border-radius: 10px;
  border: 1px solid hsl(0, 0%, 93%);
  padding: 5px 0;
  display: flex;
  // margin: auto;
  justify-content: space-between;
  align-items: center;

  .product-img {
    // padding: 10px;
    border-radius: 6px;
    min-width: 70px !important;
    max-width: 90px !important;
    transform: translateX(-17px);
  }
  .product-content {
    font-size: 14px;
    text-align: left;
    margin: 0 15px 0 8px;
    a {
      p {
        font-size: 16px;
        width: 155px;
        font-weight: 600;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        color: hsl(0, 0%, 33%);
        &:hover {
          color: hsl(0, 0%, 0%);
        }
      // white-space:nowrap;
      }
    }
    a+div {
      font-weight: 400;
      font-size: 15px;
    }
    &:last-child {
      font-size: 18px;
      font-weight:bolder;
    }
    &:last-child span {
      color: hsl(0, 0%, 33%);
      text-decoration: line-through;
      font-size: 12px;
    }
    
  }
  &::before {
    content: attr(count);
    position: absolute;
    right: 15px;
    top: 10px;
    color: rgb(114, 113, 113);
    font-size: 13px;
  }
}