nav {
  padding: 4px 0;
  .nav-list {
    display: flex;
    justify-content: space-around;
    width: 60%;
    margin: auto;
    color: rgba(0, 0, 0, 0.7);
    position: relative;
    .list-item {
      padding: 10px 0;
      cursor: pointer;
      position: relative;
      p {
        text-transform: uppercase;
        font-weight: 600;
        &:hover + .hover-ctg {
          display: block;
        }
      }
      &:hover  .hover-ctg{
        display: block;
      }
      .hover-ctg {
        position: absolute;
        top: 100%;
        left: 0;
        min-width: 150px;
        // min-height: 110px;
        border-radius: 6px;
        padding: 10px;
        background-color: white;
        transition: all 0.35s ease-in-out;
        -webkit-transition: all 0.35s ease-in-out;
        box-shadow: 0 3px 5px hsla(0, 0%, 0%,20%);
        display: none;
        z-index: 100;
        ul {
          li {
            a {
              display: inline-block;
              text-transform:none;
              font-weight: 400;
              font-size: 18px;
              margin: 5px;
            }
            &:hover {
              color: #ff8f9c;
            }
          }
        }
      }
    }
    .list-item::before {
      content:'';
      position: absolute;
      bottom: 0;
      left: 0;
      height: 1.5px;
      width: 0;
      border-radius: 4px;
      background-color: #ff8f9c;
      transition: 0.2s linear all;
      -webkit-transition: 0.2s ease-in-out all;
      -moz-transition: color 0.5s linear;
      -o-transition: color 0.5s linear;
    }
    .list-item:hover p {
      color: #ff8f9c;
    }
    .list-item:hover::before {
      width: 100%;
    }
  }
}