.footer {
  background-color: hsl(0, 0%, 13%);
  .container {
    p {
      min-width: 33.3%;
      a {
        &:hover {
          color: #ff7c8b;
        }
      }
    }
    .details {
      border-top: 1px solid #787878;
      border-bottom: 1px solid #787878;
      padding: 30px 0;
      display: flex;
      justify-content: space-around;
      flex-wrap: wrap;
      .group {
        color: white;
        margin: 30px 20px;
        text-align: left;
        min-width:175px ;
        .group-head {
          width: fit-content;
          border-bottom: 1px solid #ff7c8b;  
          font-weight: bold;
          margin: 10px 0;
        }
        p:not(.group-head) {
          color: #787878;
          margin: 10px 0;
          font-weight: 400;
          max-width: 200px;
        }
      }
    }  
  }
}