.new-products-item {
  position: relative;
  width: 24%;
  padding: 7px;
  border-radius: 10px;
  border: 1px solid hsl(0, 0%, 93%);
  margin: 15px auto;
  overflow: hidden;
  transition: .2s ease-in-out;
  a {
    img {
      width: 100%;
      margin: auto;
      border-radius: 10px;
      transition: .3s ease-in-out;
    }
  }
  div {
    .showcase-action {
      position: absolute;
      top: 10px;
      right: -100px;
      height: 120px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      transition: .2s ease-in-out;
      button {
        border-radius: 4px;
        border: 1px solid hsl(0, 0%, 83%);
        padding: 6px;
        font-size: 18px;
        color: hsl(0, 0%, 50%);
        background-color: hsl(0, 100%, 100%);
      transition: .2s ease-in-out;
      }
      .eye:hover ,.add:hover ,.heart:hover{
        background-color: #ff8f9c;
        color: white;
      }
      .active {
        background-color: #ff8f9c;
        color: white;
      }
    }
  }
  &:hover .showcase-action {
    transform: translateX(-110px);
  }
  &:hover {
    box-shadow: 0 0 10px 0 rgb(0 0 0 / 10%);
  }
  @media (min-width:480px) and (max-width:1024px) {
    width: 45%;
  }
  @media (max-width:480px) {
    width: 90%;
  }
}