.mobile-nav {
  position: fixed;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  justify-content: space-around;
  align-items: center;
  background-color: white;
  width: 100%;
  max-width: 500px;
  margin: auto;
  -webkit-box-shadow: 0 0 10px hsl(0deg 0% 0% / 25%);
  box-shadow: 0 0 10px hsl(0deg 0% 0% / 25%);
  font-size: 30px;
  padding: 10px 0;
  border-radius: 6px 6px 0 0;
  z-index: 201;
  div {
    cursor: pointer;
    &:hover a {
      opacity:.7;
    }
  }
  .card,.favorite
    {
        position: relative;
    }
  .card::before,.favorite::before {
      content: attr(data-card);
      position: absolute;
      top: -15px;
      right: -15px;
      width: 23px;
      height: 23px;
      padding: 2px;
      border-radius: 50%;
      background-color: hsl(0, 100%, 70%);
      font-size: 14px;
      color: white;
      display: flex;
      justify-content: center;
      align-items: center;
  } 
  .favorite::before {
    content: attr(data-favorite);
    position: absolute;
    top: -15px;
    right: -15px;
    width: 23px;
    height: 23px;
    padding: 2px;
    border-radius: 50%;
    background-color: hsl(0, 100%, 70%);
    font-size: 14px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
}