.login {
  div {
    div {
      form {
        div {
          position: relative;
          label::before {
            content: "*";
            position: absolute;
            top: 2px;
            left: -10px;
            color: red;
          }
          .error {
            color: red;
          }
        }
      }
    }
  }
}